{{!< default}}

{{#foreach posts}}
<article class="preview">
    {{> article-header}}
    {{> article-meta}}
    <section class="post-excerpt">
        {{content words="100"}}
       	<a class="mixed" href="{{url}}"><span class="no_mark">Read this post</span><span class="mark"> ☛</span></a> 
    </section>
</article>
{{/foreach}}

{{pagination}}
