@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 99, ../sass/screen.scss */
body {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* line 104, ../sass/screen.scss */
.bounding {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 100%;
}

/* line 108, ../sass/screen.scss */
header#site-head {
  text-align: left;
  padding-bottom: 16px;
}
/* line 113, ../sass/screen.scss */
header#site-head h1 {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-size: 58px;
  margin-bottom: 6px;
}
/* line 52, ../sass/screen.scss */
header#site-head h1 a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
header#site-head h1 a:link {
  color: #4DB6AC;
}
/* line 60, ../sass/screen.scss */
header#site-head h1 a:visited {
  color: #4DB6AC;
}
/* line 61, ../sass/screen.scss */
header#site-head h1 a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
header#site-head h1 a:active {
  color: #FF6E40;
}
/* line 118, ../sass/screen.scss */
header#site-head h1 a {
  text-decoration: none;
}
/* line 120, ../sass/screen.scss */
header#site-head h1 a em {
  color: #009688;
}
/* line 129, ../sass/screen.scss */
header#site-head p {
  display: none;
}
/* line 132, ../sass/screen.scss */
header#site-head nav {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
/* line 52, ../sass/screen.scss */
header#site-head nav a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
header#site-head nav a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/screen.scss */
header#site-head nav a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
header#site-head nav a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
header#site-head nav a:active {
  color: #FF6E40;
}
/* line 66, ../sass/screen.scss */
header#site-head nav a {
  text-decoration: none;
}
/* line 67, ../sass/screen.scss */
header#site-head nav li {
  display: inline;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
/* line 73, ../sass/screen.scss */
header#site-head nav li::before {
  content: "";
}
/* line 76, ../sass/screen.scss */
header#site-head nav li + li::before {
  color: #FF6E40;
  content: "* ";
}

/* line 140, ../sass/screen.scss */
article {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  max-width: 100%;
  padding-top: 24px;
  font-family: "Lora", Georgia, Serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
}
/* line 145, ../sass/screen.scss */
article div.post-meta {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-top: -2px;
  margin-bottom: -8px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 52, ../sass/screen.scss */
article div.post-meta a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
article div.post-meta a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/screen.scss */
article div.post-meta a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article div.post-meta a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
article div.post-meta a:active {
  color: #FF6E40;
}
/* line 66, ../sass/screen.scss */
article div.post-meta a {
  text-decoration: none;
}
/* line 67, ../sass/screen.scss */
article div.post-meta li {
  display: inline;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
/* line 73, ../sass/screen.scss */
article div.post-meta li::before {
  content: "";
}
/* line 76, ../sass/screen.scss */
article div.post-meta li + li::before {
  color: #FF6E40;
  content: "* ";
}
/* line 155, ../sass/screen.scss */
article h1 {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 26px;
  color: #00796B;
  line-height: 1.2em;
}
/* line 52, ../sass/screen.scss */
article h1 a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
article h1 a:link {
  color: #00796B;
}
/* line 60, ../sass/screen.scss */
article h1 a:visited {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h1 a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
article h1 a:active {
  color: #FF6E40;
}
/* line 157, ../sass/screen.scss */
article h1 a {
  text-decoration: none;
}
/* line 161, ../sass/screen.scss */
article h2 {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 20px;
  color: #00796B;
  margin-bottom: 0.25em;
  padding-top: 0.25em;
  line-height: 1.2em;
}
/* line 52, ../sass/screen.scss */
article h2 a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
article h2 a:link {
  color: #00796B;
}
/* line 60, ../sass/screen.scss */
article h2 a:visited {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h2 a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
article h2 a:active {
  color: #FF6E40;
}
/* line 168, ../sass/screen.scss */
article h3 {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 18px;
  color: #00796B;
  margin-bottom: 0.25em;
  padding-top: 0.25em;
  line-height: 1.2em;
}
/* line 52, ../sass/screen.scss */
article h3 a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
article h3 a:link {
  color: #00796B;
}
/* line 60, ../sass/screen.scss */
article h3 a:visited {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h3 a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
article h3 a:active {
  color: #FF6E40;
}
/* line 52, ../sass/screen.scss */
article a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
article a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/screen.scss */
article a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
article a:active {
  color: #FF6E40;
}
/* line 181, ../sass/screen.scss */
article em {
  font-style: italic;
}
/* line 185, ../sass/screen.scss */
article strong {
  font-style: bold;
}
/* line 189, ../sass/screen.scss */
article sup {
  font-size: 0.8em;
  vertical-align: super;
  line-height: 0;
}
/* line 195, ../sass/screen.scss */
article p {
  margin-bottom: 0.8em;
}
/* line 198, ../sass/screen.scss */
article p img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
}
/* line 209, ../sass/screen.scss */
article iframe {
  margin-bottom: 0.8em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
}
/* line 219, ../sass/screen.scss */
article code {
  font-family: "Source Code Pro";
  font-weight: 300;
  line-height: 1.2;
}
/* line 224, ../sass/screen.scss */
article pre {
  padding: 8px 16px 8px 16px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
}
/* line 230, ../sass/screen.scss */
article pre code {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
/* line 236, ../sass/screen.scss */
article blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  font-style: italic;
  border-left: 0.4em solid #4DB6AC;
  padding-right: 1.2em;
  padding-left: 0.8em;
}
/* line 245, ../sass/screen.scss */
article blockquote p::before {
  content: "“";
}
/* line 248, ../sass/screen.scss */
article blockquote p::after {
  content: "”";
}
/* line 253, ../sass/screen.scss */
article ul {
  margin-bottom: 0.8em;
}
/* line 255, ../sass/screen.scss */
article ul li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}
/* line 259, ../sass/screen.scss */
article ul li::before {
  content: "* ";
  font-family: "Source Code Pro";
  font-weight: 300;
  color: #00796B;
}
/* line 265, ../sass/screen.scss */
article ul ul {
  margin-bottom: 0px;
}
/* line 266, ../sass/screen.scss */
article ul ul li::before {
  color: #FF6E40;
}
/* line 271, ../sass/screen.scss */
article ul ul ul li::before {
  color: rgba(0, 0, 0, 0.8);
}
/* line 278, ../sass/screen.scss */
article ol {
  margin-bottom: 0.8em;
  list-style: none;
}
/* line 281, ../sass/screen.scss */
article ol li {
  counter-increment: step-counter;
  padding-left: 1.2em;
  text-indent: -1.2em;
}
/* line 286, ../sass/screen.scss */
article ol li::before {
  content: counter(step-counter) ".";
  font-family: "Source Code Pro";
  font-weight: 300;
  color: #00796B;
}
/* line 292, ../sass/screen.scss */
article ol li.footnote {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.6em;
}
/* line 296, ../sass/screen.scss */
article ol li.footnote p {
  display: inline;
}
/* line 300, ../sass/screen.scss */
article ol ol {
  margin-bottom: 0px;
}
/* line 302, ../sass/screen.scss */
article ol ol li {
  counter-increment: step-counter2;
}
/* line 305, ../sass/screen.scss */
article ol ol li::before {
  content: counter(step-counter2) ".";
  color: #FF6E40;
}
/* line 310, ../sass/screen.scss */
article ol ol ol li {
  counter-increment: step-counter3;
}
/* line 313, ../sass/screen.scss */
article ol ol ol li::before {
  content: counter(step-counter3) ".";
  color: rgba(0, 0, 0, 0.8);
}

/* line 322, ../sass/screen.scss */
.pagination {
  margin-top: 32px;
  margin-bottom: 32px;
}
/* line 325, ../sass/screen.scss */
.pagination .newer-posts {
  float: left;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
/* line 52, ../sass/screen.scss */
.pagination .newer-posts a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
.pagination .newer-posts a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/screen.scss */
.pagination .newer-posts a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
.pagination .newer-posts a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
.pagination .newer-posts a:active {
  color: #FF6E40;
}
/* line 93, ../sass/screen.scss */
.pagination .newer-posts a {
  text-decoration: none;
}
/* line 329, ../sass/screen.scss */
.pagination .page-number {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 20px;
  color: #00796B;
  width: 100%;
  text-align: center;
  padding: 2px 4px 2px 4px;
}
/* line 52, ../sass/screen.scss */
.pagination .page-number a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
.pagination .page-number a:link {
  color: #00796B;
}
/* line 60, ../sass/screen.scss */
.pagination .page-number a:visited {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
.pagination .page-number a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
.pagination .page-number a:active {
  color: #FF6E40;
}
/* line 335, ../sass/screen.scss */
.pagination .older-posts {
  float: right;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
/* line 52, ../sass/screen.scss */
.pagination .older-posts a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
.pagination .older-posts a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/screen.scss */
.pagination .older-posts a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
.pagination .older-posts a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
.pagination .older-posts a:active {
  color: #FF6E40;
}
/* line 93, ../sass/screen.scss */
.pagination .older-posts a {
  text-decoration: none;
}

/* line 341, ../sass/screen.scss */
footer {
  text-align: center;
  margin-top: 32px;
}
/* line 344, ../sass/screen.scss */
footer section {
  display: inline;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 52, ../sass/screen.scss */
footer section a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}
/* line 59, ../sass/screen.scss */
footer section a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 60, ../sass/screen.scss */
footer section a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
footer section a:hover {
  color: #FF6E40;
}
/* line 62, ../sass/screen.scss */
footer section a:active {
  color: #FF6E40;
}

@media only screen and (max-width: 976px) {
  /* line 352, ../sass/screen.scss */
  .bounding {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 656px) {
  /* line 358, ../sass/screen.scss */
  header#site-head {
    text-align: center;
  }

  /* line 361, ../sass/screen.scss */
  article {
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 368, ../sass/screen.scss */
  header#site-head h1 {
    font-size: 46px;
  }
  /* line 371, ../sass/screen.scss */
  header#site-head nav {
    font-size: 16px;
  }

  /* line 375, ../sass/screen.scss */
  article {
    font-size: 16px;
  }
  /* line 376, ../sass/screen.scss */
  article h1 {
    font-size: 22px;
  }
  /* line 379, ../sass/screen.scss */
  article h2 {
    font-size: 18px;
  }
  /* line 382, ../sass/screen.scss */
  article h3 {
    font-size: 16px;
  }

  /* line 388, ../sass/screen.scss */
  .pagination .newer-posts {
    font-size: 20px;
  }
  /* line 391, ../sass/screen.scss */
  .pagination .page-number {
    font-size: 20px;
  }
  /* line 394, ../sass/screen.scss */
  .pagination .older-posts {
    font-size: 20px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 402, ../sass/screen.scss */
  header#site-head h1 {
    font-size: 36px;
  }
  /* line 405, ../sass/screen.scss */
  header#site-head nav {
    font-size: 14px;
  }

  /* line 409, ../sass/screen.scss */
  article {
    font-size: 14px;
  }
  /* line 410, ../sass/screen.scss */
  article h1 {
    font-size: 20px;
  }
  /* line 413, ../sass/screen.scss */
  article h2 {
    font-size: 16px;
  }
  /* line 416, ../sass/screen.scss */
  article h3 {
    font-size: 14px;
  }
}
