@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 100, ../sass/screen.scss */
body {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* line 105, ../sass/screen.scss */
.bounding {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 100%;
}

/* line 109, ../sass/screen.scss */
header#site-head {
  text-align: left;
  padding-bottom: 8px;
}
/* line 114, ../sass/screen.scss */
header#site-head h1 {
  font-family: "Source Code Pro";
  font-weight: 200;
  font-size: 58px;
  margin-bottom: 6px;
}
/* line 57, ../sass/screen.scss */
header#site-head h1 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
header#site-head h1 a:link {
  color: #4DB6AC;
}
/* line 61, ../sass/screen.scss */
header#site-head h1 a:visited {
  color: #4DB6AC;
}
/* line 62, ../sass/screen.scss */
header#site-head h1 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
header#site-head h1 a:active {
  color: #FF9100;
}
/* line 119, ../sass/screen.scss */
header#site-head h1 a {
  text-decoration: none;
}
/* line 121, ../sass/screen.scss */
header#site-head h1 a em {
  color: #009688;
}
/* line 130, ../sass/screen.scss */
header#site-head p {
  display: none;
}
/* line 133, ../sass/screen.scss */
header#site-head nav {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
/* line 87, ../sass/screen.scss */
header#site-head nav a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
header#site-head nav a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
header#site-head nav a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
header#site-head nav a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
header#site-head nav a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
header#site-head nav a:active {
  color: #FF9100;
}
/* line 67, ../sass/screen.scss */
header#site-head nav a {
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
header#site-head nav li {
  display: inline;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
/* line 74, ../sass/screen.scss */
header#site-head nav li::before {
  content: "";
}
/* line 77, ../sass/screen.scss */
header#site-head nav li + li::before {
  color: #FF9100;
  content: "* ";
}

/* line 142, ../sass/screen.scss */
section.post-excerpt p:not(:first-child) {
  display: none;
}
/* line 145, ../sass/screen.scss */
section.post-excerpt h2 {
  display: none;
}
/* line 148, ../sass/screen.scss */
section.post-excerpt h3 {
  display: none;
}

/* line 153, ../sass/screen.scss */
a.mixed {
  text-decoration: none;
}
/* line 155, ../sass/screen.scss */
a.mixed span.mark {
  text-decoration: none;
}
/* line 158, ../sass/screen.scss */
a.mixed span.no_mark {
  text-decoration: underline;
}

/* line 163, ../sass/screen.scss */
article {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  max-width: 100%;
  padding-top: 32px;
  font-family: "Lora", Georgia, Serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.5em;
}
/* line 168, ../sass/screen.scss */
article div.post-meta {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-top: -2px;
  margin-bottom: -8px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 87, ../sass/screen.scss */
article div.post-meta a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article div.post-meta a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article div.post-meta a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article div.post-meta a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
article div.post-meta a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article div.post-meta a:active {
  color: #FF9100;
}
/* line 67, ../sass/screen.scss */
article div.post-meta a {
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
article div.post-meta li {
  display: inline;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
/* line 74, ../sass/screen.scss */
article div.post-meta li::before {
  content: "";
}
/* line 77, ../sass/screen.scss */
article div.post-meta li + li::before {
  color: #FF9100;
  content: "* ";
}
/* line 178, ../sass/screen.scss */
article h1 {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 26px;
  color: #00796B;
  line-height: 1.2em;
}
/* line 87, ../sass/screen.scss */
article h1 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article h1 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article h1 a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h1 a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
article h1 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article h1 a:active {
  color: #FF9100;
}
/* line 180, ../sass/screen.scss */
article h1 a {
  text-decoration: none;
}
/* line 184, ../sass/screen.scss */
article h2 {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 20px;
  color: #00796B;
  margin-bottom: 0.25em;
  padding-top: 0.25em;
  line-height: 1.2em;
}
/* line 87, ../sass/screen.scss */
article h2 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article h2 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article h2 a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h2 a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
article h2 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article h2 a:active {
  color: #FF9100;
}
/* line 189, ../sass/screen.scss */
article h2 a::after {
  content: " ☛";
}
/* line 194, ../sass/screen.scss */
article h3 {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 18px;
  color: #00796B;
  margin-bottom: 0.25em;
  padding-top: 0.25em;
  line-height: 1.2em;
}
/* line 87, ../sass/screen.scss */
article h3 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article h3 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article h3 a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h3 a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
article h3 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article h3 a:active {
  color: #FF9100;
}
/* line 199, ../sass/screen.scss */
article h3 a::after {
  content: " ☛";
}
/* line 57, ../sass/screen.scss */
article a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
article a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article a:active {
  color: #FF9100;
}
/* line 210, ../sass/screen.scss */
article em {
  font-style: italic;
}
/* line 214, ../sass/screen.scss */
article strong {
  font-style: bold;
}
/* line 218, ../sass/screen.scss */
article sup {
  font-size: 0.8em;
  vertical-align: super;
  line-height: 0;
}
/* line 224, ../sass/screen.scss */
article p {
  margin-bottom: 0.8em;
}
/* line 227, ../sass/screen.scss */
article p img {
  max-width: 100%;
  width: auto;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
}
/* line 240, ../sass/screen.scss */
article p.crop {
  overflow: hidden;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 0.4em;
}
/* line 245, ../sass/screen.scss */
article p.crop img.header_image {
  margin-top: -40%;
  margin-bottom: 0.4em;
  width: 100%;
  max-height: 100000px;
}
/* line 253, ../sass/screen.scss */
article .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
  overflow: hidden;
}
/* line 258, ../sass/screen.scss */
article .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 271, ../sass/screen.scss */
article code {
  font-family: "Source Code Pro";
  font-weight: 300;
  line-height: 1.2;
}
/* line 276, ../sass/screen.scss */
article pre {
  padding: 8px 16px 8px 16px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
}
/* line 282, ../sass/screen.scss */
article pre code {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}
/* line 288, ../sass/screen.scss */
article blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  font-style: italic;
  border-left: 0.4em solid #4DB6AC;
  padding-right: 1.2em;
  padding-left: 0.8em;
}
/* line 297, ../sass/screen.scss */
article blockquote p::before {
  content: "“";
}
/* line 300, ../sass/screen.scss */
article blockquote p::after {
  content: "”";
}
/* line 305, ../sass/screen.scss */
article ul {
  margin-bottom: 0.8em;
}
/* line 307, ../sass/screen.scss */
article ul li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}
/* line 311, ../sass/screen.scss */
article ul li::before {
  content: "* ";
  font-family: "Source Code Pro";
  font-weight: 300;
  color: #00796B;
}
/* line 317, ../sass/screen.scss */
article ul ul {
  margin-bottom: 0px;
}
/* line 318, ../sass/screen.scss */
article ul ul li::before {
  color: #FF9100;
}
/* line 323, ../sass/screen.scss */
article ul ul ul li::before {
  color: rgba(0, 0, 0, 0.8);
}
/* line 330, ../sass/screen.scss */
article ol {
  margin-bottom: 0.8em;
  list-style: none;
}
/* line 333, ../sass/screen.scss */
article ol li {
  counter-increment: step-counter;
  padding-left: 1.2em;
  text-indent: -1.2em;
}
/* line 338, ../sass/screen.scss */
article ol li::before {
  content: counter(step-counter) ".";
  font-family: "Source Code Pro";
  font-weight: 300;
  color: #00796B;
}
/* line 344, ../sass/screen.scss */
article ol li.footnote {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.6em;
}
/* line 348, ../sass/screen.scss */
article ol li.footnote p {
  display: inline;
}
/* line 352, ../sass/screen.scss */
article ol ol {
  margin-bottom: 0px;
}
/* line 354, ../sass/screen.scss */
article ol ol li {
  counter-increment: step-counter2;
}
/* line 357, ../sass/screen.scss */
article ol ol li::before {
  content: counter(step-counter2) ".";
  color: #FF9100;
}
/* line 362, ../sass/screen.scss */
article ol ol ol li {
  counter-increment: step-counter3;
}
/* line 365, ../sass/screen.scss */
article ol ol ol li::before {
  content: counter(step-counter3) ".";
  color: rgba(0, 0, 0, 0.8);
}
/* line 373, ../sass/screen.scss */
article section.share {
  text-align: left;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 87, ../sass/screen.scss */
article section.share a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article section.share a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article section.share a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
article section.share a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article section.share a:active {
  color: #FF9100;
}
/* line 376, ../sass/screen.scss */
article section.share a {
  text-decoration: none;
}
/* line 381, ../sass/screen.scss */
article section.share span a span.short {
  display: none;
}
/* line 386, ../sass/screen.scss */
article section.share span::before {
  content: " ";
}
/* line 389, ../sass/screen.scss */
article section.share span + span::before {
  content: " " "* ";
}
/* line 57, ../sass/screen.scss */
article section.share span.twitter a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.twitter a:link {
  color: #55ACEE;
}
/* line 61, ../sass/screen.scss */
article section.share span.twitter a:visited {
  color: #55ACEE;
}
/* line 62, ../sass/screen.scss */
article section.share span.twitter a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.twitter a:active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 57, ../sass/screen.scss */
article section.share span.facebook a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.facebook a:link {
  color: #3B5998;
}
/* line 61, ../sass/screen.scss */
article section.share span.facebook a:visited {
  color: #3B5998;
}
/* line 62, ../sass/screen.scss */
article section.share span.facebook a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.facebook a:active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 57, ../sass/screen.scss */
article section.share span.googleplus a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.googleplus a:link {
  color: #DD4B39;
}
/* line 61, ../sass/screen.scss */
article section.share span.googleplus a:visited {
  color: #DD4B39;
}
/* line 62, ../sass/screen.scss */
article section.share span.googleplus a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.googleplus a:active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 57, ../sass/screen.scss */
article section.share span.reddit a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.reddit a:link {
  color: #C6C6C6;
}
/* line 61, ../sass/screen.scss */
article section.share span.reddit a:visited {
  color: #C6C6C6;
}
/* line 62, ../sass/screen.scss */
article section.share span.reddit a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.reddit a:active {
  color: rgba(0, 0, 0, 0.8);
}

/* line 407, ../sass/screen.scss */
.pagination {
  margin-top: 32px;
  margin-bottom: 32px;
}
/* line 410, ../sass/screen.scss */
.pagination .newer-posts {
  float: left;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
/* line 87, ../sass/screen.scss */
.pagination .newer-posts a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.pagination .newer-posts a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
.pagination .newer-posts a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
.pagination .newer-posts a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
.pagination .newer-posts a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
.pagination .newer-posts a:active {
  color: #FF9100;
}
/* line 94, ../sass/screen.scss */
.pagination .newer-posts a {
  text-decoration: none;
}
/* line 414, ../sass/screen.scss */
.pagination .page-number {
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 20px;
  color: #00796B;
  width: 100%;
  text-align: center;
  padding: 2px 4px 2px 4px;
}
/* line 87, ../sass/screen.scss */
.pagination .page-number a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.pagination .page-number a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
.pagination .page-number a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
.pagination .page-number a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
.pagination .page-number a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
.pagination .page-number a:active {
  color: #FF9100;
}
/* line 420, ../sass/screen.scss */
.pagination .older-posts {
  float: right;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
}
/* line 87, ../sass/screen.scss */
.pagination .older-posts a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.pagination .older-posts a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
.pagination .older-posts a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
.pagination .older-posts a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
.pagination .older-posts a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
.pagination .older-posts a:active {
  color: #FF9100;
}
/* line 94, ../sass/screen.scss */
.pagination .older-posts a {
  text-decoration: none;
}

/* line 426, ../sass/screen.scss */
footer {
  text-align: center;
  margin-top: 32px;
}
/* line 429, ../sass/screen.scss */
footer section {
  display: inline;
  font-family: "Source Code Pro";
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 87, ../sass/screen.scss */
footer section a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
footer section a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
footer section a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
footer section a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
footer section a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
footer section a:active {
  color: #FF9100;
}

@media only screen and (max-width: 984px) {
  /* line 437, ../sass/screen.scss */
  .bounding {
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 664px) {
  /* line 443, ../sass/screen.scss */
  header#site-head {
    text-align: center;
  }

  /* line 446, ../sass/screen.scss */
  article {
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 453, ../sass/screen.scss */
  header#site-head h1 {
    font-size: 46px;
  }
  /* line 456, ../sass/screen.scss */
  header#site-head nav {
    font-size: 16px;
  }

  /* line 460, ../sass/screen.scss */
  article {
    font-size: 16px;
  }
  /* line 461, ../sass/screen.scss */
  article h1 {
    font-size: 22px;
  }
  /* line 464, ../sass/screen.scss */
  article h2 {
    font-size: 18px;
  }
  /* line 467, ../sass/screen.scss */
  article h3 {
    font-size: 16px;
  }
  /* line 471, ../sass/screen.scss */
  article section.share {
    font-size: 16px;
  }
  /* line 473, ../sass/screen.scss */
  article section.share span + span::before {
    content: " ";
  }

  /* line 479, ../sass/screen.scss */
  .pagination .newer-posts {
    font-size: 20px;
  }
  /* line 482, ../sass/screen.scss */
  .pagination .page-number {
    font-size: 20px;
  }
  /* line 485, ../sass/screen.scss */
  .pagination .older-posts {
    font-size: 20px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 493, ../sass/screen.scss */
  header#site-head h1 {
    font-size: 36px;
  }
  /* line 496, ../sass/screen.scss */
  header#site-head nav {
    font-size: 14px;
  }

  /* line 500, ../sass/screen.scss */
  article {
    font-size: 14px;
  }
  /* line 501, ../sass/screen.scss */
  article h1 {
    font-size: 20px;
  }
  /* line 504, ../sass/screen.scss */
  article h2 {
    font-size: 16px;
  }
  /* line 507, ../sass/screen.scss */
  article h3 {
    font-size: 14px;
  }
  /* line 511, ../sass/screen.scss */
  article section.share {
    font-size: 14px;
  }
}
