@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 101, ../sass/screen.scss */
body {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 100%;
}

/* line 107, ../sass/screen.scss */
.bounding {
  width: 100%;
}

/* line 111, ../sass/screen.scss */
header#site-head {
  text-align: left;
  padding-bottom: 8px;
}
/* line 116, ../sass/screen.scss */
header#site-head h1 {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 58px;
  color: #4DB6AC;
  margin-bottom: 12px;
}
/* line 90, ../sass/screen.scss */
header#site-head h1 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
header#site-head h1 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
header#site-head h1 a:link {
  color: #4DB6AC;
}
/* line 61, ../sass/screen.scss */
header#site-head h1 a:visited {
  color: #4DB6AC;
}
/* line 62, ../sass/screen.scss */
header#site-head h1 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
header#site-head h1 a:active {
  color: #FF9100;
}
/* line 118, ../sass/screen.scss */
header#site-head h1 a {
  text-decoration: none;
}
/* line 124, ../sass/screen.scss */
header#site-head p {
  display: none;
}
/* line 127, ../sass/screen.scss */
header#site-head nav {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
}
/* line 90, ../sass/screen.scss */
header#site-head nav a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
header#site-head nav a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
header#site-head nav a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
header#site-head nav a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
header#site-head nav a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
header#site-head nav a:active {
  color: #FF9100;
}
/* line 67, ../sass/screen.scss */
header#site-head nav a {
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
header#site-head nav li {
  display: inline;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
/* line 74, ../sass/screen.scss */
header#site-head nav li + li {
  padding-top: 0;
}
/* line 77, ../sass/screen.scss */
header#site-head nav li::before {
  content: "";
}
/* line 80, ../sass/screen.scss */
header#site-head nav li + li::before {
  color: #FF9100;
  content: "* ";
}

/* line 136, ../sass/screen.scss */
section.post-excerpt p:not(:first-child) {
  display: none;
}
/* line 139, ../sass/screen.scss */
section.post-excerpt h2 {
  display: none;
}
/* line 142, ../sass/screen.scss */
section.post-excerpt h3 {
  display: none;
}

/* line 147, ../sass/screen.scss */
article > * {
  margin-left: auto;
  margin-right: auto;
  width: 640px;
  max-width: 100%;
}

/* line 151, ../sass/screen.scss */
article > .wide {
  width: 100%;
}

/* line 155, ../sass/screen.scss */
article {
  padding-top: 32px;
  padding-bottom: 8px;
  font-family: "Lora", Georgia, Serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.45em;
}
/* line 159, ../sass/screen.scss */
article div.post-meta {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  margin-top: -2px;
  margin-bottom: -8px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 90, ../sass/screen.scss */
article div.post-meta a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article div.post-meta a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article div.post-meta a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article div.post-meta a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
article div.post-meta a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article div.post-meta a:active {
  color: #FF9100;
}
/* line 67, ../sass/screen.scss */
article div.post-meta a {
  text-decoration: none;
}
/* line 68, ../sass/screen.scss */
article div.post-meta li {
  display: inline;
  list-style-type: none;
  padding-left: 0em;
  text-indent: 0em;
}
/* line 74, ../sass/screen.scss */
article div.post-meta li + li {
  padding-top: 0;
}
/* line 77, ../sass/screen.scss */
article div.post-meta li::before {
  content: "";
}
/* line 80, ../sass/screen.scss */
article div.post-meta li + li::before {
  color: #FF9100;
  content: "* ";
}
/* line 169, ../sass/screen.scss */
article h1 {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 26px;
  color: #00796B;
  line-height: 1.2em;
  margin-bottom: 4px;
}
/* line 90, ../sass/screen.scss */
article h1 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article h1 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article h1 a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h1 a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
article h1 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article h1 a:active {
  color: #FF9100;
}
/* line 171, ../sass/screen.scss */
article h1 a {
  text-decoration: none;
}
/* line 176, ../sass/screen.scss */
article h1.tag-name {
  margin-bottom: 8px;
}
/* line 180, ../sass/screen.scss */
article h2 {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 20px;
  color: #00796B;
  margin-bottom: 0.4em;
  padding-top: 0.4em;
}
/* line 90, ../sass/screen.scss */
article h2 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article h2 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article h2 a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h2 a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
article h2 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article h2 a:active {
  color: #FF9100;
}
/* line 184, ../sass/screen.scss */
article h2 a::after {
  content: " ☛";
}
/* line 189, ../sass/screen.scss */
article h3 {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 18px;
  color: #00796B;
  margin-bottom: 0.4em;
  padding-top: 0.4em;
}
/* line 90, ../sass/screen.scss */
article h3 a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article h3 a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article h3 a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
article h3 a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
article h3 a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article h3 a:active {
  color: #FF9100;
}
/* line 193, ../sass/screen.scss */
article h3 a::after {
  content: " ☛";
}
/* line 57, ../sass/screen.scss */
article a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
article a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article a:active {
  color: #FF9100;
}
/* line 204, ../sass/screen.scss */
article em {
  font-style: italic;
}
/* line 208, ../sass/screen.scss */
article strong {
  font-weight: 700;
}
/* line 212, ../sass/screen.scss */
article sup {
  font-size: 0.8em;
  vertical-align: super;
  line-height: 0;
}
/* line 218, ../sass/screen.scss */
article p {
  margin-bottom: 0.8em;
}
/* line 221, ../sass/screen.scss */
article p img {
  max-width: 100%;
  width: auto;
  max-height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
}
/* line 234, ../sass/screen.scss */
article p.crop {
  overflow: hidden;
  border-radius: 4px;
  margin-bottom: 0.4em;
}
/* line 238, ../sass/screen.scss */
article p.crop img.header_image {
  width: 100%;
  height: 100%;
  max-height: 120px;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
/* line 247, ../sass/screen.scss */
article .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
  overflow: hidden;
}
/* line 252, ../sass/screen.scss */
article .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 265, ../sass/screen.scss */
article code {
  font-family: "Source Code Pro";
  font-weight: 300;
  line-height: 1.2;
}
/* line 270, ../sass/screen.scss */
article pre {
  margin-left: auto;
  margin-right: auto;
  width: 608px;
  max-width: 100%;
  padding: 8px 16px 8px 16px;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  border-radius: 4px;
  overflow: scroll;
}
/* line 278, ../sass/screen.scss */
article pre code {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 1.0em;
}
/* line 285, ../sass/screen.scss */
article blockquote {
  margin-top: 1.6em;
  margin-bottom: 1.6em;
}
/* line 288, ../sass/screen.scss */
article blockquote p {
  font-style: italic;
  padding-left: 0.8em;
  border-left: 0.4em solid #4DB6AC;
  margin-bottom: 0;
}
/* line 294, ../sass/screen.scss */
article blockquote P + p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.8em;
}
/* line 301, ../sass/screen.scss */
article ul {
  margin-bottom: 0.8em;
}
/* line 303, ../sass/screen.scss */
article ul li {
  padding-left: 1.2em;
  text-indent: -1.2em;
}
/* line 307, ../sass/screen.scss */
article ul li + li {
  padding-top: 0.4em;
}
/* line 310, ../sass/screen.scss */
article ul li::before {
  content: "* ";
  font-family: "Source Code Pro";
  font-weight: 300;
  color: #00796B;
}
/* line 316, ../sass/screen.scss */
article ul ul {
  margin-bottom: 0px;
}
/* line 317, ../sass/screen.scss */
article ul ul li::before {
  color: #FF9100;
}
/* line 322, ../sass/screen.scss */
article ul ul ul li::before {
  color: rgba(0, 0, 0, 0.8);
}
/* line 329, ../sass/screen.scss */
article ol {
  margin-bottom: 0.8em;
  list-style: none;
}
/* line 332, ../sass/screen.scss */
article ol li {
  counter-increment: step-counter;
  padding-left: 1.2em;
  text-indent: -1.2em;
}
/* line 337, ../sass/screen.scss */
article ol li + li {
  padding-top: 0.4em;
}
/* line 340, ../sass/screen.scss */
article ol li::before {
  content: counter(step-counter) ".";
  font-family: "Source Code Pro";
  font-weight: 300;
  color: #00796B;
}
/* line 346, ../sass/screen.scss */
article ol li.footnote {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.6em;
}
/* line 350, ../sass/screen.scss */
article ol li.footnote p {
  display: inline;
}
/* line 354, ../sass/screen.scss */
article ol ol {
  margin-bottom: 0px;
}
/* line 356, ../sass/screen.scss */
article ol ol li {
  counter-increment: step-counter2;
}
/* line 359, ../sass/screen.scss */
article ol ol li::before {
  content: counter(step-counter2) ".";
  color: #FF9100;
}
/* line 364, ../sass/screen.scss */
article ol ol ol li {
  counter-increment: step-counter3;
}
/* line 367, ../sass/screen.scss */
article ol ol ol li::before {
  content: counter(step-counter3) ".";
  color: rgba(0, 0, 0, 0.8);
}
/* line 375, ../sass/screen.scss */
article section.share {
  text-align: left;
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 90, ../sass/screen.scss */
article section.share a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
article section.share a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
article section.share a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
article section.share a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
article section.share a:active {
  color: #FF9100;
}
/* line 378, ../sass/screen.scss */
article section.share a {
  text-decoration: none;
}
/* line 383, ../sass/screen.scss */
article section.share span a span.short {
  display: none;
}
/* line 388, ../sass/screen.scss */
article section.share span::before {
  content: " ";
}
/* line 391, ../sass/screen.scss */
article section.share span + span::before {
  content: " " "* ";
}
/* line 57, ../sass/screen.scss */
article section.share span.twitter a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.twitter a:link {
  color: #55ACEE;
}
/* line 61, ../sass/screen.scss */
article section.share span.twitter a:visited {
  color: #55ACEE;
}
/* line 62, ../sass/screen.scss */
article section.share span.twitter a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.twitter a:active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 57, ../sass/screen.scss */
article section.share span.facebook a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.facebook a:link {
  color: #3B5998;
}
/* line 61, ../sass/screen.scss */
article section.share span.facebook a:visited {
  color: #3B5998;
}
/* line 62, ../sass/screen.scss */
article section.share span.facebook a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.facebook a:active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 57, ../sass/screen.scss */
article section.share span.googleplus a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.googleplus a:link {
  color: #DD4B39;
}
/* line 61, ../sass/screen.scss */
article section.share span.googleplus a:visited {
  color: #DD4B39;
}
/* line 62, ../sass/screen.scss */
article section.share span.googleplus a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.googleplus a:active {
  color: rgba(0, 0, 0, 0.8);
}
/* line 57, ../sass/screen.scss */
article section.share span.reddit a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
article section.share span.reddit a:link {
  color: #C6C6C6;
}
/* line 61, ../sass/screen.scss */
article section.share span.reddit a:visited {
  color: #C6C6C6;
}
/* line 62, ../sass/screen.scss */
article section.share span.reddit a:hover {
  color: rgba(0, 0, 0, 0.8);
}
/* line 63, ../sass/screen.scss */
article section.share span.reddit a:active {
  color: rgba(0, 0, 0, 0.8);
}

/* line 409, ../sass/screen.scss */
.pagination {
  margin-top: 32px;
  margin-bottom: 32px;
}
/* line 412, ../sass/screen.scss */
.pagination .newer-posts {
  float: left;
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  padding: 2px 4px 2px 4px;
}
/* line 90, ../sass/screen.scss */
.pagination .newer-posts a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.pagination .newer-posts a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
.pagination .newer-posts a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
.pagination .newer-posts a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
.pagination .newer-posts a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
.pagination .newer-posts a:active {
  color: #FF9100;
}
/* line 97, ../sass/screen.scss */
.pagination .newer-posts a {
  text-decoration: none;
}
/* line 416, ../sass/screen.scss */
.pagination .page-number {
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 20px;
  color: #00796B;
  width: 100%;
  text-align: center;
  padding: 2px 4px 2px 4px;
}
/* line 90, ../sass/screen.scss */
.pagination .page-number a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.pagination .page-number a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
.pagination .page-number a:link {
  color: #00796B;
}
/* line 61, ../sass/screen.scss */
.pagination .page-number a:visited {
  color: #00796B;
}
/* line 62, ../sass/screen.scss */
.pagination .page-number a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
.pagination .page-number a:active {
  color: #FF9100;
}
/* line 422, ../sass/screen.scss */
.pagination .older-posts {
  float: right;
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  padding: 2px 4px 2px 4px;
}
/* line 90, ../sass/screen.scss */
.pagination .older-posts a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
.pagination .older-posts a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
.pagination .older-posts a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
.pagination .older-posts a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
.pagination .older-posts a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
.pagination .older-posts a:active {
  color: #FF9100;
}
/* line 97, ../sass/screen.scss */
.pagination .older-posts a {
  text-decoration: none;
}
/* line 426, ../sass/screen.scss */
.pagination .hidden {
  color: white;
}

/* line 431, ../sass/screen.scss */
footer {
  text-align: center;
  margin-top: 32px;
}
/* line 434, ../sass/screen.scss */
footer section {
  display: inline;
  font-family: "Source Code Pro", Mono;
  font-weight: 300;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}
/* line 90, ../sass/screen.scss */
footer section a {
  text-decoration: none;
}
/* line 57, ../sass/screen.scss */
footer section a {
  -o-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
/* line 60, ../sass/screen.scss */
footer section a:link {
  color: rgba(0, 0, 0, 0.8);
}
/* line 61, ../sass/screen.scss */
footer section a:visited {
  color: rgba(0, 0, 0, 0.8);
}
/* line 62, ../sass/screen.scss */
footer section a:hover {
  color: #FF9100;
}
/* line 63, ../sass/screen.scss */
footer section a:active {
  color: #FF9100;
}

@media only screen and (max-width: 984px) {
  /* line 442, ../sass/screen.scss */
  body {
    margin-left: 12px;
    margin-right: 12px;
    width: auto;
    max-width: 100%;
  }
}
@media only screen and (max-width: 664px) {
  /* line 448, ../sass/screen.scss */
  header#site-head {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  /* line 455, ../sass/screen.scss */
  header#site-head h1 {
    font-size: 46px;
  }
  /* line 458, ../sass/screen.scss */
  header#site-head nav {
    font-size: 16px;
  }

  /* line 462, ../sass/screen.scss */
  article {
    padding-top: 16px;
    font-size: 16px;
  }
  /* line 464, ../sass/screen.scss */
  article h1 {
    font-size: 22px;
  }
  /* line 467, ../sass/screen.scss */
  article h2 {
    font-size: 18px;
  }
  /* line 470, ../sass/screen.scss */
  article h3 {
    font-size: 16px;
  }
  /* line 475, ../sass/screen.scss */
  article pre code {
    font-size: 12px;
  }
  /* line 479, ../sass/screen.scss */
  article section.share {
    font-size: 16px;
  }
  /* line 481, ../sass/screen.scss */
  article section.share span + span::before {
    content: " ";
  }

  /* line 487, ../sass/screen.scss */
  .pagination .newer-posts {
    font-size: 20px;
  }
  /* line 490, ../sass/screen.scss */
  .pagination .page-number {
    font-size: 20px;
  }
  /* line 493, ../sass/screen.scss */
  .pagination .older-posts {
    font-size: 20px;
  }
}
@media only screen and (max-width: 420px) {
  /* line 501, ../sass/screen.scss */
  header#site-head h1 {
    font-size: 36px;
  }
  /* line 504, ../sass/screen.scss */
  header#site-head nav {
    font-size: 14px;
  }

  /* line 508, ../sass/screen.scss */
  article {
    font-size: 14px;
  }
  /* line 509, ../sass/screen.scss */
  article h1 {
    font-size: 20px;
  }
  /* line 512, ../sass/screen.scss */
  article h2 {
    font-size: 16px;
  }
  /* line 515, ../sass/screen.scss */
  article h3 {
    font-size: 14px;
  }
  /* line 519, ../sass/screen.scss */
  article section.share {
    font-size: 14px;
  }

  /* line 524, ../sass/screen.scss */
  .pagination .newer-posts {
    font-size: 16px;
  }
  /* line 527, ../sass/screen.scss */
  .pagination .page-number {
    font-size: 16px;
  }
  /* line 530, ../sass/screen.scss */
  .pagination .older-posts {
    font-size: 16px;
  }
}
/* line 539, ../sass/screen.scss */
footer div#adsense-bottom-of-page {
  margin-left: auto;
  margin-right: auto;
  width: 728px;
  max-width: 100%;
  height: 90px;
  margin-bottom: 16px;
  overflow: hidden;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 8px 4px 8px 4px;
}

@media only screen and (max-width: 752px) {
  /* line 552, ../sass/screen.scss */
  footer div#adsense-bottom-of-page {
    width: 468px;
    height: 60px;
  }
}
@media only screen and (max-width: 492px) {
  /* line 561, ../sass/screen.scss */
  footer div#adsense-bottom-of-page {
    width: 320px;
    height: 100px;
    padding: 0px 0px 0px 0px;
  }
}
@media only screen and (max-width: 344px) {
  /* line 571, ../sass/screen.scss */
  footer div#adsense-bottom-of-page {
    width: 234px;
    height: 60px;
    padding: 8px 4px 8px 4px;
  }
}
